# Copyright (c) 2022 IJzerbout IT
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.

config MODULE_UBLOX_G350
    bool "ublox_g350"
    depends on TEST_KCONFIG
    depends on HAS_PERIPH_RTC
    depends on HAS_PERIPH_TIMER
    depends on HAS_PERIPH_UART
    select MODULE_PERIPH_RTC
    select MODULE_PERIPH_TIMER
    select MODULE_PERIPH_UART
    select MODULE_AT
    select MODULE_ZTIMER_MSEC
